.profile__header__main {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.profile__header__main h2 {
  font-size: 24px;
  font-weight: bold;
}

.profile__header__container {
  display: flex;
  align-items: center;
  height: 430px;
  width: 90vw;
  background-color: #ebebeb;
  border-radius: 5px;
  margin: 40px 0;
}

.pfp {
  margin: 25px;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
  background-color: white;
}

.profile__header__information {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  justify-content: space-between 12px;
  width: 300px;
  max-width: 300px;
}

.profile__buttons {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.edit__profile__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 45px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #ff6060;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  text-align: center;
}

.edit__profile__btn:hover {
  background-color: #ff6060;
  box-shadow: 0px 15px 20px black;
  color: #fff;
  transform: translateY(-4.5px);
}

.profile__header__achievements {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.achievements {
  width: 340px;
  height: 200px;
  background-color: #37234c;
  border-radius: 5px;
}

.achievements:hover {
  background-color: #37234c;
  box-shadow: 0px 15px 20px black;
  color: #fff;
  transform: translateY(-4.5px);
}
