.register__main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebebeb;
  padding: 10vh 0;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100;
  }
}

.register__container {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 0% 25%;
  padding: 20px;
  width: 830px;
  font-family: "Roboto", sans-serif;
  align-items: center;
  justify-items: left;
  animation: 0.5s ease-out 0s 1 slideInFromTop;
}

form {
  margin: 0;
}

.header__text {
  color: black;
  margin: 10 0 10 0;
}

.login__input {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 360px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  margin: 10 0 10 0;
  border: none;
  background-color: #ebebeb;
  color: #000;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid black;
  -webkit-text-fill-color: black;
  box-shadow: 0 0 0px 1000px rgb(43, 41, 53) inset;
  -webkit-box-shadow: 0 0 0px 1000px rgb(43, 41, 53) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.login__label {
  text-transform: uppercase;
  font: 900;
  font-family: "Roboto", sans-serif;
  margin: 10 0 10 0;
  font-size: small;
  font-weight: 900;
  color: black;
}

.already__button {
  color: #ff6060;
  text-decoration: none;
  margin-bottom: 20px;
}

.already__button:visited {
  color: #ff6060;
}

.login__button {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 360px;
  height: 45px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #ff6060;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.login__button:hover {
  background-color: #ff6060;
  box-shadow: 0px 15px 20px black;
  color: #fff;
  transform: translateY(-4.5px);
}

@media (max-width: 480px) {
  .register__container {
    background: rgb(53, 51, 65);
  }
  .login__input {
    width: 90vw;
  }
  .login__button {
    width: 90vw;
  }
}

@media (max-width: 830px) {
  .register__container {
    max-width: 480px;
  }
}
